body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: darken(#ccc, 50%);

	#headline {
		color: blue;
	}

	.active {

		&:hover {
			background-color: darken($color: #fff, $amount: 50%);
		}
	}

	.container {
		display: flex;
	}

	#computer-board {
		cursor: pointer;
	}

	.board-wrapper {
		padding: 100px;

		.board {
			.row {
				display: flex;

				.cell {
					width: 35px;
					height: 35px;
					border: 1px solid #ccc;
				}
			}
		}

		.board-label {
			margin-top: 8px;
			display: flex;
			justify-content: center;
			font-size: x-large;
			font-weight: 600;
		}
	}

	#footer {
		display: flex;
		flex-wrap: wrap;
		height: 200px;
		width: 100%;
		justify-content: center;
		align-items: center;

		.ship-wrapper {
			display: none;
			cursor: grab;

			&:first-child {
				background-color: green;
				display: flex !important;
			}

			.cell {
				width: 35px;
				height: 35px;
				border: 1px solid #ccc;
			}
		}
	}

	.dragging {
		opacity: 0.5;
		cursor: move;
	}

	.btn {
		margin: 32px;
		color: green;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		padding: 8px;
		background-color: white;
		border: 1px solid green;

		&:hover {
			background-color: green;
			color: white;
		}

		&:active {
			background-color: darkgreen;
			color: white;

		}

		&:focus {
			outline: none;
		}
	}

	.active-border {
		box-shadow: 0 0 10px blue;
		border: 2px solid blue;
	}
}
