body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: darken(#ccc, 50%);

	.active:hover {
		background-color: darken($color: #fff, $amount: 50%);
	}

	.container {
		display: flex;
	}

	#computer-board {
		cursor: pointer;
	}

	.board-wrapper {
		padding: 100px;

		.board {
			.row {
				display: flex;

				.cell {
					width: 35px;
					height: 35px;
					border: 1px solid #ccc;
				}
			}
		}

		.board-label {
			display: flex;
			justify-content: center;
		}
	}
}
