body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: darken(#ccc, 50%);

	#headline {
		color: green;
	}

	.active:hover {
		background-color: darken($color: #fff, $amount: 50%);
	}

	.container {
		display: flex;
	}

	#computer-board {
		cursor: pointer;
	}

	.board-wrapper {
		padding: 100px;

		.board {
			.row {
				display: flex;

				.cell {
					width: 35px;
					height: 35px;
					border: 1px solid #ccc;
				}
			}
		}

		.board-label {
			display: flex;
			justify-content: center;
		}
	}

	#footer {
		display: flex;
		flex-wrap: wrap;

		.ship-wrapper {
			display: flex;
			flex-direction: row;
			margin: 8px;

			&:first-child {
				background-color: green;
			}

			.cell {
				width: 35px;
				height: 35px;
				border: 1px solid #ccc;
			}
		}
	}
}
